<app-header></app-header>
<ion-content>
    <ion-list>
        <ion-item lines="none" *ngIf="players?.length === 0">
            <ion-text color="medium">
                No players have been added yet. Go add some players :D
            </ion-text>
        </ion-item>
        <ion-card *ngFor="let player of players">
            <ion-card-content>
                <ion-item lines="none">
                    <ion-card-title color="medium">
                        {{player.name}}
                    </ion-card-title>
                    <ion-label class="score-label" slot="end" [color]="player.score < 0 ? 'danger' : ''">
                        {{player.score}}
                    </ion-label>
                    <ion-icon name="add" slot="end" color="primary" (click)="openAdScoreModal(player)" size="large"></ion-icon>
                    <ion-icon name="remove" slot="end" color="danger" (click)="openSubtractScoreModal(player)" size="large"></ion-icon>
                </ion-item>
            </ion-card-content>
        </ion-card>
    </ion-list>

    <ion-fab vertical="bottom" horizontal="start" slot="fixed">
        <ion-fab-button>
            <ion-icon name="settings"></ion-icon>
        </ion-fab-button>
        <ion-fab-list [side]="'top'">
            <ion-fab-button (click)="goBack()">
                <ion-icon name="arrow-round-back"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
        <ion-fab-list [side]="'end'">
            <ion-item [lines]="'none'">
                <ion-toggle [(ngModel)]="sortByScore" (click)="toggleSortByScore()"></ion-toggle>
                <ion-label>
                    Sort by score
                </ion-label>
            </ion-item>
        </ion-fab-list>
    </ion-fab>
</ion-content>
