<app-header></app-header>

<ion-content>
    <ion-row class="ion-padding-top">
        <ion-col>
            <ion-item text-center lines="none">
                <ion-label>
                    <h1>
                        Welcome to Score Board
                    </h1>
                </ion-label>
            </ion-item>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <ion-item lines="none">
                <p>
                    A quick and easy way to keep track of the score of any friendly game.
                    Simply add the names of the participants and you're good to go.
                </p>
            </ion-item>
        </ion-col>
    </ion-row>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-button [disabled]="!loadedGame" expand="block" [routerLink]="['/core/games/' + loadedGame?.gameType + '/players']">
            Continue game
        </ion-button>
        <br>
        <ion-button expand="block" [routerLink]="['/core/selectGame']" (click)="newGame()">
            New game
        </ion-button>
    </ion-toolbar>
</ion-footer>
