<app-header></app-header>

<ion-content>
    <ion-row class="ion-padding-top">
        <ion-col>
            <ion-item text-center lines="none">
                <ion-label>
                    <h1>
                        Welcome to Score Board
                    </h1>
                </ion-label>
            </ion-item>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <ion-item lines="none">
                <p>
                    A quick and easy way to keep track of the score of any friendly game.
                    Simply add the names of the participants and you're good to go.
                </p>
            </ion-item>
        </ion-col>
    </ion-row>

    <ion-fab vertical="bottom" horizontal="start" slot="fixed">
        <ion-fab-button>
            <ion-icon name="information-circle-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-list [side]="'top'">
            <ion-fab-button [routerLink]="['/core/players']" (click)="newGame()">
                <ion-icon name="add"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
        <ion-fab-list [side]="'end'" *ngIf="savedGameExist">
            <ion-fab-button [routerLink]="['/core/players']">
                <ion-icon name="fastforward"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>
</ion-content>
